/*
=============== 
Fonts
===============
*/
/* Inter font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Lexenda Deca */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


/*
=============== 
Global Styles
===============
*/
*{
    border-radius: 0;
    box-sizing: 0;
}
html,
body{
    /* height: 100%; */
    margin: 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
}
.container-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 95%;
    margin: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}
.card-header{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 35%;
}
.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(277, 87%, 42%, 0.37);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-desc{
    padding: 0 2rem 2rem 1.5rem;
    text-align: center;
}

.main-heading {
    color: hsl(0, 0%, 100%);
}
 .main-heading span{
    color: hsl(277, 64%, 61%);
}

.main-paragraph {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    word-spacing: .1rem;
    line-height: 1.5;
    margin-top: -.5rem;
    /* font-family: 'Lexenda Deca', sans-serif; */
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0 0 5% 0; */
}
.stats-container {
    padding-bottom: 1rem;
}
.stats .stat {
    color: hsl(0, 0%, 100%);
    line-height: 5%;
}
.stats p{
    line-height: 1%;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.stats .stats-heading {
    color: hsla(0, 0%, 100%, 0.6);
}



 
    @media (min-width: 695px)  {
        .container-card {
            flex-direction: row-reverse;
            width: 70% !important;
            height: 50%;
            margin: auto;
        }
        .card-header{
            width: 50%;
            height: 100%;
            border-top-left-radius: 0px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .card-desc{
            display: flex;
            flex-direction: column;
            padding:3rem 5rem 3rem 3rem ;
            text-align: left;
            width: 50%;
            justify-content: center;
        }
        .card-header img {
            object-fit: cover;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 5px;
        }
        .overlay {
            border-top-left-radius: 0px;
        }
        .main-paragraph {
            text-align: left;
            color: hsla(0, 0%, 100%, 0.75);
            word-spacing: .1rem;
            line-height: 1.5;
            margin-top: -.5rem;
        }
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1.5rem;

        }
    }

    /* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container-card {
        width: 60% !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  container-card {
    width: 50% !important;
} }